// Breakpoints
$phone_breakpoint_small: 320px;
$phone_breakpoint_mid: 360px;
$phone_breakpoint_large: 400px;
$tablet_breakpoint: 768px;
$desktop_breakpoint: 1024px;

// Icons
$search: url('../../public/search-solid.svg') no-repeat center;
$search-open: url('../../public/arrow-up-solid.svg') no-repeat center;

// Colors
$white: #fff;
$black: #000;
